body {
  background: linear-gradient(
    135deg,
    rgba(247, 97, 162, 0.314) 10%,
    rgba(140, 27, 171, 0.249) 100%
  );
  border: none;
  padding: none;
  font-family: Arial, sans-serif;
  text-align: center;
}

/* Dark mode toggle button */
.darkTheme {
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 15px;
  transition: background 0.3s ease-in-out;
}

.darkTheme:hover {
  background: rgba(69, 67, 67, 0.924);
}

/* Search form */
.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#currentLocation {
  background: rgba(191, 172, 211, 0.649);
  padding: 15px 100px 15px 100px;
  border: 2px solid plum;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
}

#searchButton {
  background-color: rgb(154, 67, 236);
  padding: 10px 15px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 0.3s;
}

#searchButton:hover {
  background: rgb(124, 144, 231);
}

/* Weather content box */
.weatherContent {
  border: 300px;
  background: rgba(231, 118, 156, 0.82);
  border-radius: 20px;
  padding: 20px 40px 40px 20px;
  margin-top: 30px;
  margin-left: 310px;
  margin-right: 310px;
}

/* City name */
.city {
  color: rgb(24, 9, 30);
  font-weight: bold;
  font-size: 40px;
  text-align: left;
}

/* Weather details */
p.weather-time {
  font-size: 18px;
  color: rgba(45, 32, 32, 0.743);
}

.weather-description {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

/* Weather data (humidity, wind) */
p {
  font-size: 18px;
  color: rgba(45, 32, 32, 0.743);
  text-align: left;
}

.imp {
  color: rgb(133, 35, 123);
  font-weight: bold;
}

/* Temperature display */
.temp {
  position: fixed;
  left: 759px;
  bottom: 380px;
  font-size: 80px;
  padding: 0%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}

/* Weather icon */
#icon img {
  position: fixed;
  left: 670px;
  bottom: 368px;
  font-size: 150px;
  margin-top: 10px;
}

/* Footer */
footer {
  font-size: 15px;
  position: relative;
  top: 10px;
  font-family: inherit;
  color: rgb(45, 32, 32, 0.743);
}

footer a {
  color: blue;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Dark mode styles */
.dark {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(27, 1, 27) 0%,
    rgb(64, 64, 64) 90.2%
  );
}

.dark #currentLocation {
  background-color: rgb(186, 164, 164);
}

.dark .weatherContent {
  background-color: rgb(15, 14, 14);
  color: white;
}

.dark p,
.dark .temp,
.dark .city,
.dark .weather-description {
  color: white;
}

.dark footer {
  color: aliceblue;
}
.dark a {
  color: bisque;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: rgb(132, 50, 208);
  margin-bottom: 5px;
}
.weather-forecast-icon {
  text-align: center;
  font-size: 38px;
}
.weather-forecast-temperatures {
  text-align: center;
  color: rgb(133, 35, 123);
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weather-forecast-temperature {
  padding: 10px;
}

.searchInput::placeholder {
  color: rgba(0, 0, 0, 0.7); /* Adjust the color and opacity as needed */
}

/* Darker placeholder text */
::placeholder {
  color: rgba(0, 0, 0, 0.828); /* Adjust the color and opacity as needed */
}
